/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 02/04/2021, 06:02:09
    Author     : daniel
*/


// Cores

$black: #000000;
$white: #fff;
$green: #025918;
$orange: #D9734E;
$blue: #778DD9;
$darkgreen: #01260E;
$darkblue: #024059;


// Fontes
$fonte-padrao: 'Montserrat', sans-serif;

// Resoluções e Tamanhos fixos
$header: 60px;
$headerDesk: 90px;
$mobile: 1024px;
$full-hd: 1900px;

$corMenuMobile: linear-gradient(45deg, #fff, #f5f5f5);
$corBorderMenuMobile: #e5e5e5;

    body.hidden{
        overflow: hidden;
    }

#header{
    height: $header;
    width: 100%;
    top: 0; 
    left: 0;
    position: fixed;
    background: #ffffff;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    &:after{
        content: "";
        position: fixed;
        top: $header;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255,255,255,0));
    }
    >input{
        display: none;
    }
    >label[for="burguer-menu"]{
        height: 100%;
        width: 70px;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            display: block;
            width: 28px;
            height: 3px;
            position: relative;
            background: $darkblue;
            transition: all 0.3s ease-in-out;
            &:before, &:after{
                position: absolute;
                content: "";
                display: block;
                width: 28px;
                height: 3px;
                background: $darkblue;
                transition: top 0.15s ease-in-out 0.12s, transform 0.12s ease-in-out;
            }
            &:before{
                top: -7px;
            }
            &:after{
                top: 7px;
                width: 23px;
                right: 0;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    .container{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 30px;
        box-sizing: border-box;
    }
    nav{
        position: fixed;
        height: calc(100vh - #{$header});
        width: 100vw;
        right: 0;
        top: $header;
        visibility: hidden;
        .menu{
            height: 100%;
            width: 100%;
            right: -100%;
            position: fixed;
            background: $darkblue;
            transition: all 0.5s ease-in-out;
            > a{
                box-sizing: border-box;
                width: 100%;
                display: block;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 0 0 35px;
                color: $white;
                z-index: 1;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                white-space: nowrap;
                opacity: 0;
              text-decoration: none;
            }
        }   
    }
    input#burguer-menu:checked ~ label[for="burguer-menu"] span{
        background: rgba(255,255,255,0);
        &:before{
            top: 0;
            transform: rotate(-45deg);
            transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
        }
        &:after{
            top: 0;
            width: 28px;
            transform: rotate(45deg);
            transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
        }
    }
    input#burguer-menu:checked ~ .container > nav{
        visibility: visible;
        .bg{
            opacity: 1;
            visibility: visible;
        }
        .menu{
            right: 0;
            @for $i from 1 through 20{
                a:nth-child(#{$i}){
                    animation: entrada-esquerda-menu 0.3s ease-in-out #{$i * 0.1}s forwards;
                }
            }
        }
        .social-menu{
            right: 0;
        }
    }
    
    .logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            width: auto;
            height: auto;
            svg{
                height: 40px;
                width: auto;
            }
        }
    }

    
//_______________________________começo desktop_______________________________________________________________

    @media screen and (min-width: $mobile){
        transition: all 0.1s linear;
        height: $headerDesk;
        justify-content: flex-end;
        background: rgba(255,255,255,0.9);
        position: relative;
        &:after{
            top: $headerDesk;
            transition: all 0.1s linear;
            position: absolute;
        }
        >label[for=burguer-menu]{
            display: none;
        }
        .container{
            justify-content: space-between;
        }
        .logo{
            display: flex;
            height: 100%;
            align-items: center;
            padding-left: 0;
            a{
                display: flex;
                align-items: center;
                height: 100%;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    height: 56px;
                    width: auto;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        nav{
            position: relative;
            visibility: visible;
            height: 100%;
            width: auto;
            opacity: 1;
            left: 0;
            top: 0;
            transition: all 0.6s ease;
            padding: 0;
            .menu{
                background: rgba(255,255,255,0);
                display: flex;
                align-items: center;
                position: static;
                padding: 0;
                width: auto;
                transition: all 0.6s ease;
                &:before{
                    display: none;
                }
                a{
                    margin-right: 20px;
                    text-transform: uppercase;
                    min-width: 60px;
                    opacity: 1;
                    border: none;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    white-space: nowrap;
                    width: auto;
                    transition: all 0.3s linear;
                    height: 100%;
                    position: relative;
                    padding: 0 25px;
                    box-sizing: border-box;
                    margin: 0;
                    z-index: 1;
                    color: $darkblue;
                    &:hover, &.active{
                        color: $orange;
                    }
                }
            }
        }
        &.on{
            height: 60px;
            position: fixed;
            z-index: 3;
            .logo{
                a{
                    svg{
                        height: 46px;
                        width: auto;
                    }
                }
            }
            nav{
                .menu{
                    a{
                        font-size: 14px;
                    }
                }
            }
            &::after{
                top: 60px;
            }
        }
    }
    @media screen and (min-width: $full-hd){
        &.on{
            height: 77px;
            &::after{
                top: 77px;
            }
        }
    }
}

@keyframes entrada-esquerda-menu {
	from {
		text-indent: -50px;
	}

	to {
		opacity: 1;
		text-indent: 0;
	}
}
